/*
# HELPER CLASSES
### HIDDEN
### FULLWIDTH
### TEXTCENTER
### BOLD
*/

@mixin hidden {
  display: none !important;
  visibility: hidden !important;
}

@mixin fullwidth {
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin textcenter {
  text-align: center;
}

.bold {
  font-weight: bold;
}