<template name="modalMarker">
  <div id="modalMarker" class="modal modal-fixed-footer">
    <div class="modal-content">
      {{#if this.marker}}
        {{#if flyLocation}}
          <div>
            <h5>{{geoLocation}}</h5>
          </div>
          <div>
              {{#if fliesHere}}
                  <button name="flyHereNot" class="orange darken-1 waves-effect waves-light btn">Ich fliege nicht mehr hier!</button>
              {{else}}
                <button name="flyHere" class="orange darken-1 waves-effect waves-light btn">Ich fliege hier!</button>
              {{/if}}
          </div>
          <div>
            {{pilotsCount}} Personen fliegen hier.
          </div>
        {{else}}
          <div>
            <h4>{{name}}</h4>
            <h5>{{geoLocation}}</h5>
          </div>
          <div>
             <a href="{{profileUrl}}" name="profile" class="orange darken-1 waves-effect waves-light btn">Profil</a>
          </div>
        {{/if}}
        
        {{#if ownsMarker}}
        <div style="padding-top: 10px">
          <a class="waves-effect waves-light btn delete"><i class="material-icons">delete</i></a>
        </div>
        {{/if}}
      {{else}}
        Loading ...
      {{/if}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>
</template>