<template name="navigation">
  <nav class="" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">FPV Racer</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/map">Map</a></li>
        {{#if currentUser}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/map">Map</a></li>
        {{#if currentUser}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>