<template name="navigation">
  <nav class="green accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">FPV Racer</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>